.Meditation {
  padding: 3rem;
}

.Meditation-text {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0;    
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 7.5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Button-mute {
  position: absolute;
  font-size: 1rem;
  bottom: 1rem;
  left: 1rem;
}