.Meditation {
  padding: 3rem;
  text-align: center;
}

.Meditation-text {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0;    
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 7.5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Button-meditation {
  font-size: 1rem;
  margin-right: 0.5rem;
}