.Button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  outline: none;
  padding: 1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Button:hover {
  background-color: white;
  color:#27ae60;
  text-shadow: none;  
}

.Input {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  outline: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Label {
  color: #fff;
  display: block;
  font-size: 2rem;
  margin: 0 auto;  
  margin-bottom: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Setting {
  padding: 3rem;
}