.Row {
  margin-bottom: 2rem;
}

.Button {
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  margin: 0 auto;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Button:hover {
  color: rgba(0,0,0,0.75);
  background: rgba(255,255,255,0.75);
  text-shadow: none;  
}

.Input {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  max-width: 100%;
  outline: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Input[type="number"] {
  max-width: 8rem;
}

.Label {
  color: #fff;
  display: block;
  font-size: 2rem;
  margin: 0 auto;  
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.Setting {
  padding: 3rem;
}